Repository cgerling/rac: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(linstaged): remove specificity from blobs
  .lintstagedrc
Due: none

build(storybook): configure storybook
  .storybook/addons.js
  .storybook/config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

build(rollup): add css plugins and uglify
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write, eslint --fix

add storybook-static generated folder to gitignore
  .gitignore
Due: none

build(stylelint): add css linter
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write

fix(eslint): add shared settings to react version
  .eslintrc.js
Due: prettier --write, eslint --fix

build(stylelint): integrate linter into scripts and git hooks
  .lintstagedrc
  package.json
Due: prettier --write

fix(prettier): make prettier ignore storybook-static
  .prettierignore
Due: none

feat(prettier): make prettier format every compatible file on project
  package.json
Due: prettier --write

style: format files with prettier
  src/PortalPlayer.js
  src/index.js
Due: prettier --write, eslint --fix

build(jest): configure and integrate jest
  .babelrc
  .babelrc.js
  .eslintrc.js
  jest.config.js
  package.json
  test/style-mock.js
  yarn.lock
Due: prettier --write, eslint --fix

build: add eslint-config-prettier to avoid configuration clashes with code formatting
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(react-testing-library): add package as dependency
  package.json
  yarn.lock
Due: prettier --write

fest(jest): add test coverage script
  .gitignore
  .prettierignore
  package.json
Due: prettier --write

feat(Icon): create component to encapsulate FontAwesome configuration
  src/components/Icon/Icon.js
Due: prettier --write, eslint --fix

refactor: use Icon component everywhere
  src/PortalPlayer.js
  src/components/SelectList/SelectList.js
  src/components/TimeJump/TimeJump.js
  src/components/Volume/Volume.js
  src/config/FontAwesome.js
Due: prettier --write, eslint --fix

style: format all files with prettier
  src/components/Button/Button.js
  src/components/Loader/Loader.js
  src/components/Overlay/Overlay.js
  src/components/Progress/Progress.js
  src/components/SelectList/SelectList.js
  src/components/Selector/Selector.js
  src/components/TimeJump/TimeJump.js
  src/components/TimeLine/TimeLine.js
  src/components/ToggleButton/ToggleButton.js
  src/components/Volume/Volume.js
Due: prettier --write, eslint --fix

fix(TimeJump): fix import path of Icon component
  src/components/TimeJump/TimeJump.js
Due: prettier --write, eslint --fix

refactor: rename the main component file
  src/PortalPlayer.js
  src/index.css
  src/index.js
Due: prettier --write, eslint --fix

build(rollup): set just peerDependencies as external
  rollup.config.js
Due: prettier --write, eslint --fix

build(react-dom): remove package as peerDependency and external
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

build(react): adjust peerDependency version
  package.json
Due: prettier --write

build(react-feather): remove icons package
  package.json
  yarn.lock
Due: prettier --write

build(packages): add missing packages as devDependencies
  package.json
  yarn.lock
Due: prettier --write

feat(storybook): add knobs and a11y addons
  .storybook/addons.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(storybook): add example story
  stories/Player.stories.js
Due: prettier --write, eslint --fix

refactor: change project name to rac
  package.json
  src/index.css
  src/index.js
Due: prettier --write, eslint --fix

feat(LICENSE): add LICENSE file and package.json field
  LICENSE
  package.json
Due: prettier --write

doc(README): adjust content
  README.md
  other/rac-front.png
Due: none

fix(Player): remove inter font family import
  src/index.css
Due: prettier --write

feat(storybook): use the Inter font family
  .storybook/preview-head.html
Due: none

feat(Player): move main component into it's own folder and just re-export it on index
  src/components/Player/Player.css
  src/components/Player/Player.js
  src/index.js
Due: prettier --write, eslint --fix

refactor(storybook): put configuration files into a config/ folder
  config/.storybook/addons.js
  config/.storybook/config.js
  config/.storybook/preview-head.html
Due: prettier --write, eslint --fix

ci(github): create ci workflow on github-actions
  .github/workflows/ci.yml
Due: none

build(scripts): remove storybook build from project build
  package.json
Due: prettier --write

ci(github): add passWithNoTests param to jest
  .github/workflows/ci.yml
Due: none

ci(github): rename action from ci to build
  .github/workflows/build.yml
Due: none

docs(badge): add badge to inform build status on master
  README.md
Due: none

feat(Button): add missing prop types
  src/components/Button/Button.js
Due: prettier --write, eslint --fix

feat(Loader): add missing prop types
  src/components/Loader/Loader.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{css,json})
  eslint --fix: any of: **/*.js
